JVM toolchain downloads don't handle `Content-Disposition: attachment` header

### Current Behavior

If you have JDKs downloaded from
 https://jdk-cache.mycorp.com/jdks-bin/jdk22.32.21-ca-crac-jdk22.0.2-macosx_aarch64.tar.gz

but the have header 
`Content-Disposition: attachment` with no file name, the Gradle give an error like this: 

```
Unable to download toolchain matching the requirements ({languageVersion=22, vendor=any vendor, implementation=vendor-specific, nativeImageCapable=false}) from 'https://jdk-cache.mycorp.com/jdks-bin/jdk22.32.21-ca-crac-jdk22.0.2-macosx_aarch64.tar.gz
', due to: Can't determine filename for resource located at: https://jdk-cache.mycorp.com/jdks-bin/jdk22.32.21-ca-crac-jdk22.0.2-macosx_aarch64.tar.gz
```

### Expected Behavior

If the filename is missing from `Content-Disposition: attachment` HTTP header, then Gradle should just use the  file name from the path as a fallback. 

### Context (optional)

This is preventing us from using Toolchains with our https://jdk-cache.mycorp.com/jdks-bin/ 

Changing the `Content-Disposition: attachment` HTTP header is not easily done.

References on `Content-Disposition`
- https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Content-Disposition
- https://datatracker.ietf.org/doc/html/rfc2616#section-19.5.1
- https://www.rfc-editor.org/in-notes/rfc2183.html
- https://www.w3.org/Protocols/HTTP/Issues/content-disposition.txt

Also, HTTP headers are case insensitive: 
- https://datatracker.ietf.org/doc/html/rfc2616#section-4.2

> HTTP header fields, which include general-header ([section 4.5](https://datatracker.ietf.org/doc/html/rfc2616#section-4.5)),
   request-header ([section 5.3](https://datatracker.ietf.org/doc/html/rfc2616#section-5.3)), response-header ([section 6.2](https://datatracker.ietf.org/doc/html/rfc2616#section-6.2)), and
   entity-header ([section 7.1](https://datatracker.ietf.org/doc/html/rfc2616#section-7.1)) fields, follow the same generic format as
   that given in [Section 3.1 of RFC 822](https://datatracker.ietf.org/doc/html/rfc822#section-3.1) [[9](https://datatracker.ietf.org/doc/html/rfc2616#ref-9)]. Each header field consists
   of a name followed by a colon (":") and the field value. Field names
   **_are case-insensitive_**.

### Self-contained Reproducer Project

none, relies on internal jdk repo

### Gradle version

9.3.1

The relevant code is here:
https://github.com/gradle/gradle/blob/b631911858264c0b6e4d6603d677ff5218766cee/platforms/software/resources-http/src/main/java/org/gradle/internal/resource/transport/http/HttpResponseResource.java#L80-L108

