Host specific wrapper credential property names are case-sensitive

### Current Behavior

If I set the wrapper URL to `https://MyCompany.com/gradle-9.4.0-bin.zip`, then Gradle expects the System property to be `gradle.MyCompany_com.wrapperToken` (similarly for the others).

### Expected Behavior

The expected behavior is that Gradle should turn the hostname into lowercase, and look for the `gradle.mycompany_com.wrapperToken` property.

### Context (optional)

Hostnames are not case-sensitive (see [RFC 3986 section 6.2.2.1](https://datatracker.ietf.org/doc/html/rfc3986#section-6.2.2.1)), and Gradle should respect this. The easiest way to respect this is to require the hostname to be in all lowercase in the system property name (this is consistent with the recommendation of RFC 3986). Though in theory Gradle could just scan all the system properties an ignore case, it is needlessly difficult (and I don't think the wrapper should be burdened with this).

An important note here is that, if this is not fixed before the release of Gradle 9.4.0, fixing this would either require breaking backward compatibility, or the more complicated implementation which accepts properties in any case.

The change required is trivial:

1. [WrapperCredentials.java:95](https://github.com/gradle/gradle/blob/7957961126151b7d33f3ba51a4af81f4610e3a99/platforms/core-runtime/wrapper-shared/src/main/java/org/gradle/util/internal/WrapperCredentials.java#L95) should be updated to add a `.toLowerCase(Locale.ROOT)` before querying the system property.
2. The [documentation](https://github.com/gradle/gradle/blob/7957961126151b7d33f3ba51a4af81f4610e3a99/platforms/documentation/docs/src/docs/userguide/reference/runtime-configuration/gradle_wrapper.adoc#customizing-the-gradle-wrapper) should be updated to mention that hostname should be in all lowercase in the property name.

If you want to I can send a PR for this.

### Self-contained Reproducer Project

I don't think this really needs a reproducer (and is not easy to provide since needs an external service), but:

- Write the wrapper hostname in uppercase.
- Observe that Gradle requires the property to be in all uppercase.

### Gradle version

9.4.0

### Build scan URL (optional)

_No response_

### Your Environment (optional)

_No response_